<launch>

<!-- set argument ///////////////////////////////////////////////////////////////////// -->
    <arg name="model" default="$(find rwrc_simulator)/urdf/simple_icart_middle.xacro"/>

<!-- load yaml //////////////////////////////////////////////////////////////////////// -->
    <rosparam file="$(find rwrc_simulator)/config/diff_drive_controller.yaml" command="load"/>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->

    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model) --inorder"/>

    <arg name="use_sim_time" default="true"/>
  
    <!-- gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find tono_gazebo)/world/obj.world" /> -->
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="false"/>
    </include>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="log"
      args="-urdf -model simple_icart_middle -param robot_description"/>

    <!-- load the controllers -->

    <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="simple_icart_middle" output="log" 
      args="joint_state_controller diff_drive_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="log" ns="/simple_icart_middle" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
        output="log" ns="/simple_icart_middle" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find rwrc_simulator)/rviz/simple_simulator.rviz"/>

    <!-- get_sensors_node -->
    <node name="get_sensors_node" pkg="rwrc_simulator" type="get_sensors_node" required="true" output="screen"/>

</launch>